<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zbl.app.dao.InventoryMapper">
    <resultMap id="BaseResultMap" type="me.zbl.app.domain.Inventory">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="consumer_id" jdbcType="VARCHAR" property="consumerId"/>
        <result column="drug_id" jdbcType="VARCHAR" property="drugId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="ammount" jdbcType="DECIMAL" property="ammount"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="manager" jdbcType="VARCHAR" property="manager"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <resultMap id="DrugInResultMap" type="me.zbl.app.domain.DrugInDO">
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="manager" jdbcType="VARCHAR" property="manager"/>
        <result column="quantityNow" jdbcType="INTEGER" property="quantityNow"/>
        <result column="drugId" jdbcType="VARCHAR" property="drugId"/>
        <result column="drugName" jdbcType="VARCHAR" property="drugName"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="specification" jdbcType="VARCHAR" property="specification"/>
        <result column="ammount" jdbcType="DECIMAL" property="ammount"/>
        <result column="supplierName" jdbcType="VARCHAR" property="supplierName"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
    </resultMap>
    <resultMap id="DrugOutResultMap" type="me.zbl.app.domain.DrugOutDO">
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="manager" jdbcType="VARCHAR" property="manager"/>
        <result column="quantityNow" jdbcType="INTEGER" property="quantityNow"/>
        <result column="drugId" jdbcType="VARCHAR" property="drugId"/>
        <result column="drugName" jdbcType="VARCHAR" property="drugName"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="specification" jdbcType="VARCHAR" property="specification"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="ammount" jdbcType="DECIMAL" property="ammount"/>
        <result column="supplierName" jdbcType="VARCHAR" property="supplierName"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
    </resultMap>
    <resultMap id="SaleResultMap" type="me.zbl.app.domain.SaleDO">
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="manager" jdbcType="VARCHAR" property="manager"/>
        <result column="quantityNow" jdbcType="INTEGER" property="quantityNow"/>
        <result column="drugId" jdbcType="VARCHAR" property="drugId"/>
        <result column="drugName" jdbcType="VARCHAR" property="drugName"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="specification" jdbcType="VARCHAR" property="specification"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="ammount" jdbcType="DECIMAL" property="ammount"/>
        <result column="supplierName" jdbcType="VARCHAR" property="supplierName"/>
        <result column="consumer" jdbcType="VARCHAR" property="consumer"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
    </resultMap>
    <resultMap id="StaSaleResultMap" type="me.zbl.app.domain.StaSaleDO">
        <result column="R_DATE_UNIT" jdbcType="VARCHAR" property="dateUnit"/>
        <result column="R_SUM_QUANTITY" jdbcType="DECIMAL" property="saleCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, consumer_id, drug_id, type, quantity, ammount, comment, manager,
        gmt_created, gmt_modified
    </sql>

    <!-- staSaleDay -->
    <select id="staSaleDay" resultMap="StaSaleResultMap">
        SELECT
            DATE_FORMAT(T_TMP.F_DATE, '%c月%e日') AS R_DATE_UNIT,
            IFNULL(SUM(T_INVEN.quantity), 0)    AS R_SUM_QUANTITY
        FROM
            (
                SELECT @cdate := DATE_SUB(@cdate, INTERVAL 1 DAY) AS F_DATE
                FROM
                    (SELECT @cdate := DATE_ADD(CURRENT_DATE, INTERVAL 1 DAY)
                     FROM app_inventory_record) T_TMP2
                LIMIT 30
            ) T_TMP
            LEFT JOIN app_inventory_record T_INVEN
                ON DATE(T_TMP.F_DATE) = DATE(T_INVEN.gmt_created)
                   AND T_INVEN.TYPE = '3'
        GROUP BY
            T_TMP.F_DATE
        ORDER BY
            T_TMP.F_DATE ASC;
    </select>

    <!-- staSaleMonth -->
    <select id="staSaleMonth" resultMap="StaSaleResultMap">
        SELECT
            DATE_FORMAT(T_TMP.F_DATE, '%c月') AS R_DATE_UNIT,
            IFNULL(SUM(T_INVEN.quantity), 0) AS R_SUM_QUANTITY
        FROM
            (
                SELECT @cdate := DATE_SUB(@cdate, INTERVAL 1 MONTH) AS F_DATE
                FROM
                    (SELECT @cdate := DATE_ADD(CURRENT_DATE, INTERVAL 1 MONTH)
                     FROM app_inventory_record) T_TMP2
                WHERE YEAR(@cdate) = YEAR(CURRENT_DATE)
                LIMIT 12
            ) T_TMP
            LEFT JOIN app_inventory_record T_INVEN
                ON YEAR(T_TMP.F_DATE) = YEAR(T_INVEN.gmt_created)
                   AND MONTH(T_TMP.F_DATE) = MONTH(T_INVEN.gmt_created)
                   AND T_INVEN.TYPE = '3'
        WHERE YEAR(T_TMP.F_DATE) = YEAR(CURRENT_DATE)
        GROUP BY
            T_TMP.F_DATE
        ORDER BY
            T_TMP.F_DATE ASC;
    </select>

    <!-- staSaleYear -->
    <select id="staSaleYear" resultMap="StaSaleResultMap">
        SELECT
            DATE_FORMAT(T_TMP.F_DATE, '%Y年') AS R_DATE_UNIT,
            IFNULL(SUM(T_INVEN.quantity), 0) AS R_SUM_QUANTITY
        FROM
            (
                SELECT @cdate := DATE_SUB(@cdate, INTERVAL 1 YEAR) AS F_DATE
                FROM
                    (SELECT @cdate := DATE_ADD(CURRENT_DATE, INTERVAL 1 YEAR)
                     FROM app_inventory_record) T_TMP2
                LIMIT 5
            ) T_TMP
            LEFT JOIN app_inventory_record T_INVEN
                ON YEAR(T_TMP.F_DATE) = YEAR(T_INVEN.gmt_created)
                   AND T_INVEN.TYPE = '3'
        GROUP BY
            T_TMP.F_DATE
        ORDER BY
            T_TMP.F_DATE ASC;
    </select>

    <!-- countIn -->
    <select id="countIn" resultType="int">
        select count(*)
        from app_inventory_record
        where type in ('1', '2')
    </select>

    <!-- countOut -->
    <select id="countOut" resultType="int">
        select count(*)
        from app_inventory_record
        where type in ('3', '4')
    </select>

    <!-- countSale -->
    <select id="countSale" resultType="int">
        select count(*)
        from app_inventory_record
        where type = '3'
    </select>

    <!--inList-->
    <select id="inList" parameterType="java.util.Map" resultMap="DrugInResultMap">
        select
        i.type, i.manager, d.quantity as quantityNow, d.id as drugId, d.`name` as
        drugName,d.price,d.specification,i.quantity,i.ammount,s.name as supplierName,i.gmt_created
        from app_inventory_record i,app_drug d,app_supplier s
        where
        i.drug_id = d.id and d.supplier_id = s.id
        and i.type in('1','2')
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by gmt_created desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit ${offset}, ${limit}
        </if>
    </select>

    <!--outList-->
    <select id="outList" parameterType="java.util.Map" resultMap="DrugOutResultMap">
        select
        i.comment, i.type, i.manager, d.quantity as quantityNow, d.id as drugId, d.`name` as
        drugName,d.price,d.specification,i.quantity,i.ammount,s.name as supplierName,i.gmt_created
        from app_inventory_record i,app_drug d,app_supplier s
        where
        i.drug_id = d.id and d.supplier_id = s.id
        and i.type in('3','4')
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by gmt_created desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit ${offset}, ${limit}
        </if>
    </select>

    <!--saleList-->
    <select id="saleList" parameterType="java.util.Map" resultMap="SaleResultMap">
        select
            i.id       as order_id,
            i.comment,
            i.type,
            i.manager,
            d.quantity as quantityNow,
            d.id       as drugId,
            d.`name`   as
                          drugName,
            d.price,
            d.specification,
            i.quantity,
            i.ammount,
            s.name     as supplierName,
            i.gmt_created,
            c.name     as consumer
        from app_inventory_record i, app_drug d, app_supplier s, app_consumer c
        where
            i.drug_id = d.id and d.supplier_id = s.id and i.consumer_id = c.id
            and i.type = '3'
        order by gmt_created desc
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_inventory_record
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from app_inventory_record
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <!-- drugInSave -->
    <insert id="drugInSave" parameterType="me.zbl.app.domain.DrugInFormDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into app_inventory_record (id,
        drug_id, type, quantity,
        ammount, comment, manager)
        values (#{id,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR},
        '1', #{quantity,jdbcType=INTEGER}, #{ammount,jdbcType=INTEGER},
        '进货入库', #{manager,jdbcType=VARCHAR})
    </insert>

    <!-- drugOutSave -->
    <insert id="drugOutSave" parameterType="me.zbl.app.domain.DrugOutFormDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into app_inventory_record (id,
        drug_id, type, quantity,
        ammount, comment, manager)
        values (#{id,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR},
        '4', #{quantity,jdbcType=INTEGER}, #{ammount,jdbcType=INTEGER},
        #{comment,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR})
    </insert>

    <!-- saleSave -->
    <insert id="saleSave" parameterType="me.zbl.app.domain.DrugOutFormDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into app_inventory_record (id,
        drug_id, type, quantity,
        ammount, comment, manager, consumer_id)
        values (#{id,jdbcType=VARCHAR}, #{drugId,jdbcType=VARCHAR},
        '3', #{quantity,jdbcType=INTEGER}, #{ammount,jdbcType=INTEGER},
        #{comment,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{consumer})
    </insert>

    <insert id="insert" parameterType="me.zbl.app.domain.Inventory">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into app_inventory_record (id, consumer_id,
        drug_id, type, quantity,
        ammount, comment, manager,
        gmt_created, gmt_modified)
        values (#{id,jdbcType=VARCHAR}, #{consumerId,jdbcType=VARCHAR},
        #{drugId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER},
        #{ammount,jdbcType=DECIMAL}, #{comment,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR},
        #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="me.zbl.app.domain.Inventory">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into app_inventory_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="consumerId != null">
                consumer_id,
            </if>
            <if test="drugId != null">
                drug_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="ammount != null">
                ammount,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="manager != null">
                manager,
            </if>
            <if test="gmtCreated != null">
                gmt_created,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR},
            <if test="consumerId != null">
                #{consumerId,jdbcType=VARCHAR},
            </if>
            <if test="drugId != null">
                #{drugId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="ammount != null">
                #{ammount,jdbcType=DECIMAL},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                #{manager,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreated != null">
                #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="me.zbl.app.domain.Inventory">
        update app_inventory_record
        <set>
            <if test="consumerId != null">
                consumer_id = #{consumerId,jdbcType=VARCHAR},
            </if>
            <if test="drugId != null">
                drug_id = #{drugId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="ammount != null">
                ammount = #{ammount,jdbcType=DECIMAL},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                manager = #{manager,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreated != null">
                gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="me.zbl.app.domain.Inventory">
        update app_inventory_record
        set consumer_id  = #{consumerId,jdbcType=VARCHAR},
            drug_id      = #{drugId,jdbcType=VARCHAR},
            type         = #{type,jdbcType=VARCHAR},
            quantity     = #{quantity,jdbcType=INTEGER},
            ammount      = #{ammount,jdbcType=DECIMAL},
            comment      = #{comment,jdbcType=VARCHAR},
            manager      = #{manager,jdbcType=VARCHAR},
            gmt_created  = #{gmtCreated,jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>